.s-btn {
  // visibility: hidden;
  .simple-button {
    width: 100;
    padding: 1rem 1rem;
    background-color: gray;
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;

    &:hover {
      cursor: pointer;
    }

    i {
      margin-right: 1rem;
    }

    &.git-btn {
      background-color: #000;
    }

    /* Radial Out */
    &.hvr-radial-out {
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      overflow: hidden;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }
    &.hvr-radial-out:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #2098d1;
      border-radius: 100%;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &.hvr-radial-out:hover,
    &.hvr-radial-out:focus,
    &.hvr-radial-out:active {
      color: white;
    }
    &.hvr-radial-out:hover:before,
    &.hvr-radial-out:focus:before,
    &.hvr-radial-out:active:before {
      -webkit-transform: scale(2);
      transform: scale(2);
    }
  }
}
