@import '../../config';

footer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translatex(-50%);
  width: 100%;

  .icons {
    margin-bottom: 1rem;
    a {
      padding: 0.6rem;
      color: #000;

      &:hover {
        color: #2098d1;
        @include easeOut();
      }
    }

    &.hide-footer {
      display: none;
    }
  }
}

@media only screen and (max-width: 500px) {
  footer {
    .icons {
      margin: 0.4rem;
    }
  }
  .copyright {
    font-size: 1.3rem;
    color: #fff;
  }
}

@media only screen and (max-height: 600px) {
  footer {
    bottom: 5px;
  }
}
