@import 'config';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
// Base Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: url('/images/back1.jpg') no-repeat center center/cover;
  color: #000;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    // background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    box-shadow: inset 60px 50px 125px #000000, inset -60px -50px 125px #000000;
  }
}

// Headings
h1,
h2,
h3 {
  &.lg-heading {
    font-size: 3rem;
  }

  &.sm-heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  * {
    font-size: 10px;
  }

  body {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      z-index: -1;
      box-shadow: inset 30px 25px 60px #000000, inset -30px -25px 60px #000000;
    }
  }
}
